@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.main-container{
	font-family: 'poppins';
	border: 1px solid black;
	margin: 0px 100px 10px 100px;
	background-color: #EEEEEE;
}

.head h1{
	text-align: center;
	margin-bottom: 0px;
	margin-top: 0px;
}

.head h5{
	margin-top: 0px;
	margin-bottom: 0px;
	text-align: center;
}

.head{
	background-color: #AAD9BB;
}

ul{
	list-style-type: none;
	margin:auto;
	padding: 0;
	overflow: hidden;
	background-color: #333;
}

li.nav1{
	float: left;
}

li.nav2{
	float: right;
}

li a{
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #04AA6D;
}

.h3{
	text-align: center;
}

.form-container form .ele input.a{
	width: 500px;
}

.form-container form .ele input.b{
	width: 300px;
}

.form-container{
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	font-size: 16px;
}

.form-container form .ele{
	padding: 0px 0px 15px 0px;
}

.form-container form{
	border: 1px solid black;
	padding: 10px 30px 10px 30px;
	
}

footer, footer small{
	text-align: center;
}